.header-text {
    color: white; 
    font-size: 70px !important;
    font-weight: 400 !important;
}

.jumbotron {
    margin-bottom: 10px;
    background-image: url("http://i.imgur.com/veGnFJp.jpg");
    background-color: #17234E;
    min-height: 60%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
