.NavBar {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.NavBar-link {
  margin: 0 10px;
  color: black;
}

.NavBar-welcome {
  color: grey;
}
